{{#extend "layout"}}
{{#content "body"}}
    {{!-- CONTENT --}}
    <h1>SportsGlobe</h1>
    <h2>Reset your password</h2>
    <p>Click the link bellow to reset your password.</p>
    <p>{{baseURL}}resetPassword/reset.html?token={{token}}</p>
    <p>Thanks</p>
{{/content}}
{{/extend}}
