{{#extend "layout"}}
{{#content "body"}}
    {{!-- CONTENT --}}
    <h1>SportsGlobe</h1>
    <h2>Account verification</h2>
    <p>Confirm your email to activate your account.</p>
    <p>{{baseURL}}signup/confirm.html?token={{token}}</p>
    <p>Thanks</p>
{{/content}}
{{/extend}}
