---
title: Edit profile photo
---
{{> comp_header headerLogin=false}}
<div class="content">
    {{> comp_profileEditHeader}}
    <div class="container">
        <div class="cropper" data-cropperurl="/images/test.jpg" data-cropperwidth="140" data-cropperheight="140" data-croppercornerradius="70">

        </div>
        <br/>
        <div class="cropper" data-cropperurl="/images/testV.jpg" data-cropperwidth="140" data-cropperheight="140" data-croppercornerradius="0">

        </div>
    </div>
</div>
