---
title: Reset Password
---
{{> comp_header }}

<div class="panel">
    <section class="panel__head">
        <h1>Forgot your password?</h1>
    </section>
    <section class="imageText">
        <div class="imageText__image">
            <svg>
                <use xlink:href="../images/icons.svg#checkMark"></use>
            </svg>
        </div>
        <div class="imageText__text">
            <span>Check your email to reset your password</span>
        </div>
    </section>


    <section class="panel__body">
        <p>If you didn't receive an email, <a href="/resetPassword">click here</a> to resend.</p>
    </section>
</div>
