---
title: Thank you
---
{{> comp_header }}

<div class="panel">
    <section class="panel__head">
        <h1>Thanks for signing up</h1>
        <div class="panel__divider"></div>
    </section>
    <section class="panel__body">
        <svg class="panel__image">
            <use xlink:href="/images/icons.svg#email"></use>
        </svg>
        <h2>You have mail.</h2>
        <p>We have sent a confirmation email to <a href="mailto:"><span class="qs-email"></span></a>.</p>
        <p>If you haven't received an email, check your junk/spam folder or
            <a href="/signup">send the confirmation again</a>.</p>
        <p>If it was sent to wrong address, click back in your browser and enter a different one.</p>
        <p class="panel__link">Already have an account? <a href="/login">Login here</a>.</p>
    </section>
</div>
