<div class="profileEditHeader">
    <div class="profileEditHeader_person">
        <div class="profileEditHeader__photo">
            <div class="profileEditHeader__image icon-person"></div>
        </div>
        <div class="profileEditHeader__name">
            <h1>Janet Smith</h1>
        </div>
    </div>
    <div class="profileEditHeader__menu">
        <h3>Profile</h3>
        <ul class="profileEditHeader__menuItems">
            <li>Feed</li>
            <li>Friends</li>
            <li>Photos</li>
            <li>Videos</li>
            <li>update profile</li>
        </ul>
    </div>
</div>