<div class="panel">
    <div class="panel__head">
        <h1>Reset your password</h1>
    </div>
    <div class="panel__body">
        <form class="resetPasswordForm formAjax form" method="POST" action="userResetPassword" autocomplete="off">
            <label class="form__label" for="name">Email*</label>
            <input type="email" name="email" class="form__field" placeholder="Email"
                   data-parsley-required="true"
                   data-parsley-type="email"
                   data-parsley-trigger="keyup"
            />
            <label class="form__label" for="password">Create a password*</label>
            <input type="password" name="password" class="form__field password" placeholder="Password"
                   data-parsley-required="true"
            />
            <a href="" class="form__link form__link--passwordHelp">show password</a>
            <input type="submit" value="Change Password" class="button"/>
        </form>
    </div>
</div>
