<form class="uploader" method="post" action="https://mmrwebcontent.s3.amazonaws.com" enctype="multipart/form-data" >
    <div class="button">
        Add files
        <!-- The file input field used as target for the file upload widget -->
        <input type="file" name="files[]" multiple>
    </div>
    <!-- The global progress bar -->
    <div class="uploader__progress">
        <div class="uploader__progressBar"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div class="uploader__files"></div>
</form>