<div class="panel">
    <div class="panel__head">
        <h1>Forgot your password?</h1>
    </div>
    <div class="panel__body">
        <form class="requestResetPasswordForm formAjax form" method="POST" action="userRequestResetPassword" autocomplete="off">
            <input type="text" name="email" class="form__field" placeholder="Enter your email"
                   data-parsley-required="true"
                   data-parsley-type="email"
                   data-parsley-trigger="keyup"
            />
            <input type="submit" class="button" value="Reset Password"/>
        </form>
    </div>
</div>
