<form class="form form--header logoutForm formAjax" method="POST" action="deauth" autocomplete="off">
    <section class="form__section">
        <a href="/profile/edit/sports.html" class="button button--header">Profile</a>
    </section>
    <section class="form__section">
        <input type="submit" class="button button--header" value="Logout"/>
    </section>
</form>
